body{
    background-color: 	#ADD8E6;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #87CEEB;
}
.tit{
    text-align: center;
}
.corNav{
    background-color: #4682B4;
}
.cor1{
    background-color:#87CEEB ;
}
.lista {
  list-style: none;
}
.cor2{
    background-color: 	#87CEEB;
    color: rgb(255, 255, 255);
}
.botcor{
    color: #fff;
    background: #0d22f3
}
.teste{
   
  
   
   
}
    