body{
    background-color: 	#ADD8E6;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #87CEEB;
}
.tit{
    text-align: center;
}
.corNav{
    background-color: #4682B4;
}
.cor1{
    background-color:#87CEEB ;
}